<section class="container">
            <img class="title_home" src="./assets/title.png" alt="">

    <div class="container-form">
            <form action="" [formGroup]="formLogin" (submit)="send()">
                   
                    <input class="data-form" type="text" placeholder="Correo Electronico" formControlName="email">
                    <input class="data-form" type="password" placeholder="Contraseña" formControlName="password">

                    <button class="btn_login">Iniciar Sesion</button>

            </form>

                <div class="btn_register_container">
                    <span>¿Aún no tienes cuenta? </span> <br> 

                    <button class="btn_register">Registrate aqui</button>
                </div>



    </div>
        valido:{{formLogin.valid | json}}
    <div>

      
    </div>

</section>
