<section class="container">

    <div class="container-form">
            <form action="">
                   
                    <input class="data-form" type="text" placeholder="Correo Electronico">
                    <input class="data-form" placeholder="Contraseña">

                    <button class="btn_login">Iniciar Sesion</button>

            </form>

                <div class="btn_register_container">
                    <span>¿Aún no tienes cuenta? </span> <br> 

                    <button class="btn_register">Registrate aqui</button>
                </div>



    </div>


</section>
