.board{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    flex-wrap: wrap;
}
.bar_nav{
    height: 11vh;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-left: 0;
    position: absolute;
    top: 0;
    display: flex;
    background: #1690e7;
    align-items: center;
    padding: 0 2vw;
    justify-content:space-between;
}
.title_dashboard{
    height: 8vh;
    width: 8vw;
    background-color: rgb(253, 253, 253);
    border-radius: 8px;
    padding: 0.5vh 0.5vw;
}
.bar_aside{
    height: 89%;
    width: 22%;
    background-color: #ffffff;
    background-image: url('src/assets/fnd_2.png');
    background-size: 110% 100%;
    /* transform: rotate(-23deg); */
    background-repeat: no-repeat;
    border-top-right-radius: 110px;
    position: absolute;
    top:11vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    left: 0;
}

.container_note{
    height: 85%;
    width: 78%;
    /* background: rgb(0, 174, 255); */
    /* background: linear-gradient( rgb(0, 174, 255, 0.1), #ffffff); */
    position: absolute;
    right: 1vw;
    top: 13vh;
    z-index: 50;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2vw;
    grid-row: auto;
    overflow-y: scroll;
    padding: 4vh 3vw;

    justify-content: center;
 
}
.container_note::-webkit-scrollbar {
    -webkit-appearance: none;
}

.container_note::-webkit-scrollbar:vertical {
    width:0.5vw;
    display: none;
}

.container_note::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.container_note::-webkit-scrollbar:horizontal {
    height: 4vh;
    display: none;
}

.container_note::-webkit-scrollbar-thumb {
    background-color: #02778900;
    border-radius: 20px;
}
.container_note::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.nota{
    width: 16vw;
    height: 25vh;
    margin:0;
    /* background: linear-gradient( rgb(0, 174, 255, 0.1) 80%, #ffffff); */
    background: rgb(0, 174, 255, 0.1);
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0 0.8em;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.nota:hover{
    cursor: cell;
    background: rgba(0, 174, 255, 0.178);
}
.create_note{
    width: 20vw;
    height: 41vh;
    z-index: 2;
    display: flex;
    background-color:#0086E8;
    display: flex;
    padding: 0.5vh 1.5vw;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    
}
.title_note{
    width: 14vw;
    color: rgb(63, 63, 63);
}
.description_note{
    color: rgb(63, 63, 63);
    width: 14vw;
    height: 16vh;
   
}
.btn_save{
    width: 9vw;
    height: 6vh;
    background: #ffffff;
    border:0;
    border-radius: 40px;
    color: #0077cc;
    font-weight: 600;
    font-size: 1em;
}
.btn_save:hover{
    cursor: pointer;
    background: #f9c0ff;

}
.btn_delete{
    height: 6vh;
    width: 3vw;
    border:none;
    background: none;
}
.btn_delete:hover{
    cursor: pointer;
    background: rgb(0, 113, 243);
    border-radius: 20px;
}
.img_delete{
    height: 3.5vh;

}
.main_edit{
    width: 18vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    margin-bottom: 1vh;
}
.title_das2{
   width: 16vw;
   color: rgb(63, 63, 63);
   margin: 5vh 0 7vh 0;
   text-align: center;
}
#text_description{
    margin: 1.5vh 0 1.5vh 0;
    width: 17vw;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
    outline: none;
    padding: 0.5vh 0 0 0.5vw;
}
#insert_title{
    height: 5vh;
    border-radius: 5px;
    border:none;
    outline: none;
    padding-left: 0.5vw;
}

