<section class="board">

    <nav class="bar_nav">
        <img class="title_dashboard" src="./assets/title.png" alt="">

        <button [routerLink]="['/home']" class='btn_save' >Sign out</button>

    </nav>

    <aside class="bar_aside">

        <h2 class="title_das2">Here you can create, edit and delete your notes . . .</h2>


        <div class="create_note" [ngClass]="{'fnd-note': flag}">
            <form action="" [formGroup]="formNote">
            <div class="main_edit">
                <h3>{{messageEdit}}</h3> <button class='btn_delete' *ngIf='selectedNote.id !== 0' (click)='deleteNote()'><img class='img_delete' src="./assets/delete.png" alt=""></button>
            </div>    
            <input id="insert_title"  type="text" placeholder="Insert title" [(ngModel)]='selectedNote.title' formControlName="title">
            <textarea  id="text_description" cols="25" rows="5" placeholder="Insert description" [(ngModel)]='selectedNote.description' formControlName="description"></textarea>
 
                       <button class='btn_save' (click)="addOrEdit()" >Save</button>
                        
                
            </form>       
        </div>


    </aside>

    <div class="container_note">

      <div class="nota" *ngFor=" let note of notesArray" (click)='editNote(note)'>
        
            <h3 class="title_note">{{note.title}}</h3>
        
          <p class="description_note">{{note.description}}</p>
    
      </div>

    </div>

</section>
